<!DOCTYPE html>
<html lang="en">

<head>
    <title>Covd-19 Dashboard</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Open source data and mapping for Covid-19 cases">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" href="/stylesheets/bulma-radio-checkbox.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src="https://unpkg.com/jquery@3.5.0/dist/jquery.min.js"></script>
</head>

<body>
<nav class="navbar box" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                Covid-19 Tracker
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample" id="navbar-toggle">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/about/">
                    About
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="member-name"></div>
                    <div class="buttons" style="display:none;">
                        <a class="button is-primary" id="auth-signup">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light" id="auth-login">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
    {{{body}}}
    <div class="modal" id="modal-register">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Create an Account</p>
                <button class="delete exit-modal" aria-label="close"></button>
            </header>
            <form id="form-signup">
                <section class="modal-card-body">
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <input name="exampleInputEmail1" class="input" type="email" autocomplete="email"
                                id="email-register-input" placeholder="Email">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right check-email is-hidden">
                                <i class="fas fa-check"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input name="exampleInputPassword1" class="input" type="password" autocomplete="new-password"
                                id="password-register-input" placeholder="Password">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input name="exampleInputPassword2" class="input" type="password" autocomplete="new-password"
                                id="password-register-repeat" placeholder="Repeat Password">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <div class="b-checkbox is-success is-circular">
                                <input name="subscription-signup" id="subscription-signup" class="styled" checked
                                    type="checkbox">
                                <label for="subscription-signup">
                                    Subscribe to Newsletter
                                </label>
                            </div>
                        </p>
                    </div>
                    <article style="display: none" id="alert-signup" class="message is-danger" role="alert">
                        <div class="message-header">
                            <p>Error</p>
                        </div>
                        <div class="message-body">
                            <span class="msg"></span>
                        </div>
                    </article>
                </section>
                <footer class="modal-card-foot">
                    <button type="submit" class="button is-success">Sign Up</button>
                    <button class="button exit-modal">Cancel</button>
                </footer>
            </form>
        </div>
    </div>
    <div class="modal" id="modal-signup">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Login to Your Account</p>
                <button class="delete exit-modal" aria-label="close"></button>
            </header>
            <form id="form-login">
                <section class="modal-card-body">
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <input class="input" type="email" autocomplete="email" id="email-login-input"
                                placeholder="Email">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right check-email is-hidden">
                                <i class="fas fa-check"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input" type="password" autocomplete="current-password" id="password-login-input"
                                placeholder="Password">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>
                    <article style="display: none" id="alert-login" class="message is-danger" role="alert">
                        <div class="message-header">
                            <p>Error</p>
                        </div>
                        <div class="message-body">
                            <span class="msg"></span>
                        </div>
                    </article>
                </section>
                <footer class="modal-card-foot">
                    <button type="submit" class="button is-success">Login</button>
                    <button class="button exit-modal">Cancel</button>
                </footer>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/js/signup.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
{{!-- <script type="text/javascript" src="/js/country-data.js"></script> --}}
    <script type="text/javascript" src="/js/dashboard.js"></script>
</body>
</html>