<section class="hero is-primary" id="about-hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        About
      </h1>
      <h2 class="subtitle">
        Information, Credits, and Data Sources
      </h2>
    </div>
  </div>
</section>
<div class="container">
    <div class="columns">
        <div class="column is-three-quarter about-content">
            <section class="section">
                <div class="container">
                    <h1 class="title">The Project</h1>
                    <h2 class="subtitle">
                        Open Source Data and Mapping for Covid-19
                    </h2>
                </div>
            </section>
            <p>
                In this unprecedented time of Covid-19, we decided that we had a responsibility as both developers and concerned citizens to do our part to contribute to the effort.
                We thus decided to develop a Covid-19 data tracker equipped with a heatmap and other features designed to help users to become informed.
            </p>
            <br />
            <p>
                This site sources data from third parties who are credited in the sidebar. We also provide API access to our own data for others to use. The bulk of this data has been imported from the Johns Hopkins CSSE Covid-19 project which provides latitude and longitude coordinates.
            </p>
            <br />
            <article class="message is-dark">
                <div class="message-header">
                    <p>API</p>
                </div>
                <div class="message-body">
                    <p>Our site and project provides a JSON API endpoint that anyone can use to query information used by our map. This data includes a latitude and longitude position for recorded Covid-19 deaths. Below is an sample of a URL and the data returned.</p>
                    <br />
                    <p><strong>/api/covid_data/deaths</strong></p>
                    <div class="control">
                      <textarea class="textarea" readonly rows="4">[
    {"latitude":"34.052230000000000","longitude":"-118.243680000000000","deaths":1},
    {"latitude":"37.773971999999999","longitude":"-122.431297000000000","deaths":0}
]</textarea>
                    </div>
                </div>
            </article>
            <section class="section">
                <div class="container">
                    <h1 class="title">Development Team</h1>
                    <h2 class="subtitle">
                        Thanks to our contributors. Join us on <a href="https://github.com/yankidank/covid-19-tracker" target="_blank">GitHub</a>
                    </h2>
                </div>
            </section>
            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                    <img src="https://avatars3.githubusercontent.com/u/58578177?s=460&u=c4b062c9345a6182c93caacbde5ae38d9cb1c888&v=4">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Abelard Bautista</strong> <small><a href="https://github.com/abautista3712" target="_blank">@abautista3712</a></small>
                            <br>
                            Full-Stack Software Developer with a background in Reproductive Genetics --- Personal financial literacy advocate and avid beer enthusiast!
                        </p>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                    <img src="https://avatars1.githubusercontent.com/u/12621320?s=460&u=edd5aa59473999ba5d3bdd727584bb380a2204c1&v=4">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Robert Filkin</strong> <small><a href="https://github.com/rfilkin" target="_blank">@rfilkin</a></small>
                            <br>
                            Programming is like solving a puzzle of sorts - and when everything clicks into place, you've also got a nice functioning machine! It's great fun.
                        </p>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                    <img src="https://avatars2.githubusercontent.com/u/18619?s=460&u=0ac93e4ae1f888567c2443ead2721b56591128d4&v=4">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Eric Heikkinen</strong> <small><a href="https://github.com/yankidank" target="_blank">@Yankidank</a></small>
                            <br>
                            Full stack developer with a penchant for front end design. Skilled with both LAMP and MERN stacks.
                        </p>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                    <img src="https://avatars0.githubusercontent.com/u/55964517?s=460&v=4">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Ashely Rumbaoa</strong> <small><a href="https://github.com/AshelyNicole" target="_blank">@AshelyNicole</a></small>
                            <br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                        </p>
                    </div>
                </div>
            </article>
        </div>
        <div class="column is-one-quarter">
            <section class="section">
                <div class="container">
                    <h1 class="title">Resources</h1>
                </div>
            </section>
            <ul>
            <div class="content">
                <ol type="1">
                    <li><a href="https://nodejs.org/en/" target="_blank">Node.js</a></li>
                    <li><a href="https://github.com/CSSEGISandData/COVID-19" target="_blank">Johns Hopkins CSSE</a></li>
                    <li><a href="https://expressjs.com/" target="_blank">Express</a></li>
                    <li><a href="https://www.countryflags.io/" target="_blank">Countryflags.io API</a></li>
                    <li><a href="https://rapidapi.com/api-sports/api/covid-193/details" target="_blank">COVID-19 API</a></li>
                    <li><a href="https://ip-api.com/" target="_blank">IP-API.com</a></li>
                    <li><a href="https://bulma.io/" target="_blank">Bulma</a></li>
                    <li><a href="https://leafletjs.com/" target="_blank">Leaflet</a></li>
                    <li><a href="https://github.com/Leaflet/Leaflet.heat" target="_blank">Leaflet.Heat</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
.about-content {
    margin-bottom:75px !important;
}
.navbar.box {
    margin-bottom:0;
}
#about-hero {
    background-image: linear-gradient(141deg,#4277c5 0,#277ddf 71%,#559df0 100%);
}
</style>