<nav class="breadcrumb no-separator is-centered is-medium" aria-label="breadcrumbs">
  <ul>
    <li>
        Global Data
    </li>
    <li>
        <div id="globalConfirmed" class="breadcrumb-data"> - Positive Cases</div>
    </li>
    <li>
        <div id="globalRecovered" class="breadcrumb-data"> - Recoveries</div>
    </li>
    <li>        
        <div id="globalDeaths" class="breadcrumb-data"> - Deaths</div>
    </li>
  </ul>
</nav>
<div class="columns">
    <div class="column is-three-quarters" id="map"></div>
    <div class="column is-narrow is-one-quarter stats">
        <div class="notification has-text-centered has-text-weight-semibold is-size-5" id="countryTitle">
            Country Statistics
        </div>
        <div class="notification is-primary">
            <div class="has-text-centered is-size-2" id="countConfirmed">?</div>
            <div class="has-text-centered is-size-6">Positive Tests</div>
        </div>
        <div class="notification is-link">
            <div class="has-text-centered is-size-2" id="countRecovered">?</div>
            <div class="has-text-centered is-size-6">Recovered</div>
        </div>
        <div class="notification is-danger">
            <div class="has-text-centered is-size-2" id="countDeaths">?</div>
            <div class="has-text-centered is-size-6">Deaths</div>
        </div>
        <form id="country_filter">
            <div class="field is-grouped">
                <p class="control">
                    <a class="button" id="run-geolocate">
                        <span class="icon">
                            <i class="fa fa-crosshairs" id="icon-geolocate" aria-hidden="true"></i>
                        </span>
                    </a>
                </p>
                <p class="control is-expanded">
                    <input class="input" id="country_input" type="text" placeholder="Filter by Country" value="">
                </p>
                <p class="control">
                    <a class="button is-info" id="run-search">
                        <span class="icon">
                            <i class="fas fa-search" id="icon-search"></i>
                        </span>
                    </a>
                </p>
            </div>
        </form>
    </div>
</div>

<table class="table is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th class="has-text-centered is-narrow">Country</th>
            <th class="has-text-centered is-narrow">State/Province</th>
            <th class="has-text-centered is-narrow">City</th>
            <th class="has-text-centered is-narrow">Confirmed</th>
            <th class="has-text-centered is-narrow">Deaths</th>
            <th class="has-text-centered is-narrow">Recovered</th>
            <th class="has-text-centered is-narrow">Last Update</th>
        </tr>
    </thead>
    <tbody id="tbody"></tbody>
</table>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
<script src="https://unpkg.com/esri-leaflet@2.3.3/dist/esri-leaflet.js"
    integrity="sha512-cMQ5e58BDuu1pr9BQ/eGRn6HaR6Olh0ofcHFWe5XesdCITVuSBiBZZbhCijBe5ya238f/zMMRYIMIIg1jxv4sQ=="
    crossorigin=""></script>
<script src="https://unpkg.com/leaflet.heat@0.2.0/dist/leaflet-heat.js"></script>
<script src="https://unpkg.com/esri-leaflet-heatmap@2.0.0"></script>
<script type="text/javascript" src="/js/flagConvert.js"></script>
<script type="text/javascript" src="/js/tableGeneration.js"></script>
