<nav class="navbar box" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="./">
            Covid-19 Tracker
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample" id="navbar-toggle">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="./">
                Home
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        About
                    </a>
                    <a class="navbar-item">
                        Contact
                    </a>
                </div>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" id="auth-signup">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light" id="auth-login">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="columns">
    <div class="column is-narrow is-one-quarter columnTest">
        <div class="notification has-text-centered columnTest">
            Global Statistics
        </div>
        <div class="notification is-primary">
            <div class="has-text-centered is-size-2">1,000,000</div>
            <div class="has-text-centered is-size-6">Confirmed</div>
        </div>
        <div class="notification is-link">
            <div class="has-text-centered is-size-2">20,000</div>
            <div class="has-text-centered is-size-6">Recovered</div>
        </div>
        <div class="notification is-danger">
            <div class="has-text-centered is-size-2">15,000</div>
            <div class="has-text-centered is-size-6">Deaths</div>
        </div>
    </div>

    <div class="column is-three-quarters" id="map"></div>
</div>
<table class="table is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th class="has-text-centered is-narrow">City</th>
            <th class="has-text-centered is-narrow">Province</th>
            <th class="has-text-centered is-narrow">Country</th>
            <th class="has-text-centered is-narrow">Confirmed</th>
            <th class="has-text-centered is-narrow">Deaths</th>
            <th class="has-text-centered is-narrow">Recovered</th>
            <th class="has-text-centered is-narrow">Last Update</th>
        </tr>
    </thead>
    <tbody id="tbody"></tbody>
</table>

<div class="modal" id="modal-register">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Create an Account</p>
            <button class="delete exit-modal" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form id="register">
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" type="email" autocomplete="email" id="email-input-register" placeholder="Email">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <!-- <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span> -->
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="password" autocomplete="new-password" id="password-input-register"
                            placeholder="Password">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <div class="b-checkbox is-primary is-circular">
                            <input id="checkbox" class="styled" checked type="checkbox">
                            <label for="checkbox">
                                Subscribe to Newsletter
                            </label>
                        </div>
                    </p>
                </div>
                <article style="display: none" class="message is-danger">
                    <div class="message-header">
                        <p>Error</p>
                    </div>
                    <div class="message-body">
                        <span class="msg"></span>
                    </div>
                </article>
            </form>
        </section>
        <footer class="modal-card-foot">
            <button type="submit" class="button is-success">Sign Up</button>
            <button class="button exit-modal">Cancel</button>
        </footer>
    </div>
</div>
<div class="modal" id="modal-signup">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Login to Your Account</p>
            <button class="delete exit-modal" aria-label="close"></button>
        </header>
        <section class="modal-card-body"> 
            <form id="login">
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" type="email" autocomplete="email" id="email-input-login" placeholder="Email">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <!-- <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span> -->
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="password" autocomplete="current-password" id="password-input-login" placeholder="Password">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div>
            </form>
        </section>
        <footer class="modal-card-foot">
            <button type="submit" class="button is-success">Login</button>
            <button class="button exit-modal">Cancel</button>
        </footer>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
<script src="https://unpkg.com/esri-leaflet@2.3.3/dist/esri-leaflet.js"
    integrity="sha512-cMQ5e58BDuu1pr9BQ/eGRn6HaR6Olh0ofcHFWe5XesdCITVuSBiBZZbhCijBe5ya238f/zMMRYIMIIg1jxv4sQ=="
    crossorigin=""></script>
<script src="https://unpkg.com/leaflet.heat@0.2.0/dist/leaflet-heat.js"></script>
<script src="https://unpkg.com/esri-leaflet-heatmap@2.0.0"></script>
<script src="/js/heatmap-sample.js"></script>

<script>
    var map = L.map("map").setView([39.82109, -94.2193], 4);

    // Add heatmap data
    addressPoints = addressPoints.map(function (p) {
        return [p[0], p[1]];
    });

    // Set theme, try 'DarkGray'
    L.esri.basemapLayer("Gray").addTo(map);

    var heat = L.heatLayer(addressPoints).addTo(map),
        draw = true;
</script>
<!-- 
    <script>
      var tileLayer = new L.TileLayer('//{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
        'attribution': '© <a href="http://openstreetmap.org">OpenStreetMap</a>'
      });
      var map = new L.Map('map', {
        'center': [39, -95],
        'zoom': 4,
        'layers': [tileLayer]
      });
      L.esri.basemapLayer('Gray').addTo(map); // also try 'DarkGray'
      // new constructor syntax at 2.0.0
      L.esri.Heat.featureLayer({
        url: 'https://sampleserver6.arcgisonline.com/arcgis/rest/services/CommunityAddressing/MapServer/0',
        radius: 10
      }).addTo(map);
    </script> -->
<!-- 
    <script type="text/javascript">
      var tileLayer = new L.TileLayer('//{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
        'attribution': '© <a href="http://openstreetmap.org">OpenStreetMap</a>'
      });
      var map = new L.Map('map', {
        'center': [39, -90],
        'zoom': 4,
        'layers': [tileLayer]
      });
    </script> -->
<script type="text/javascript" src="js/tableGeneration.js"></script>
<script type="text/javascript" src="js/signup.js"></script>
<script type="text/javascript" src="js/members.js"></script>