form.signup,
form.login {
  margin-top: 50px;
}
.columnTest {
  border: solid;
}
.table {
  margin-left: auto;
  margin-right: auto;
}
.modal {
  z-index:200;
}
.leaflet-top, .leaflet-pane, .leaflet-overlay-pane, .leaflet-layer, .leaflet-map-pane canvas, .esri-dynamic-attribution {
  z-index: 1;
}
.modal-card-body form.login, .modal-card-body form.signup {
  margin-top:0;
}