form.signup,
form.login {
  margin-top: 50px;
}
@media only screen and (min-width: 769px) {
  .columns {
    padding-left: 12px;
    padding-right:12px;
  }
}
.table {
  margin-left: auto;
  margin-right: auto;
}
.modal {
  z-index:200;
}
.leaflet-top, .leaflet-pane, .leaflet-overlay-pane, .leaflet-layer, .leaflet-map-pane canvas, .esri-dynamic-attribution {
  z-index: 1;
}
.modal-card-body form.login, .modal-card-body form.signup {
  margin-top:0;
}
.box:not(:last-child) {
  margin-bottom:0.8rem;
}
.leaflet-container {
  min-height:450px;
}
.b-checkbox {
  margin-left:11px;
  margin-top:13px;
}
.b-checkbox label {
  padding-left: 12px;
}
.navbar-brand .navbar-item {
  font-size:1.32rem;
  font-weight:500;
}
.navbar-start {
  margin-top:4px;
}
.is-primary {
  background-color: #366fc5 !important;
}
.is-info {
  background-color: #366fc5 !important;
}
.is-link {
  background-color: #2b9a4d !important;
}
.is-danger {
  background-color: #ca2523 !important;
}